* {    
    padding:0;
    margin:0;
}

body {
    font-size:15px;
    color:#283136;
    background-color: #ffffff;
    font-family: 'Roboto', arial;
}

.container {
    width: 1200px;     
    padding:0 10px; /*центровка содержимого браузера*/
    margin:0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/*HEADER begin*/

header {
    background-color: #eeeeee;
    width: 100%;
}

.index-logo {
    float:left;
    width:124px;
    margin-right: 180px;
    margin-bottom:60px;
    padding-top:25px;
}

/*Главное меню*/
.main-menu {
list-style:none;
padding:0; /*обнуление отступов в списке меню (в списке отступы задаются по умолчанию)*/
margin:0;
}

.container {
    width: 860px;
    margin:0 auto;
}

.main-navigation {
    float:left;
    width: 450px;
    font-size: 14px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
display: inline-block;   
}

.main-navigation ul li a,
.user-block a {
    display: block;    
    text-decoration: none;
    color:black;
    margin-right: 40px;
    text-transform: uppercase;
}

.main-navigation ul li a  {
    padding-top: 50px;       
}

.main-navigation ul li .current  {
    border-bottom:2px solid #fb565a;
}

.main-navigation ul li a:hover,
.user-block a:hover
{
    transition: all 0.25s ease;
    color:#fb565a;
}

.user-block a {
    margin:0;    
    text-align: right;
    padding: 49px 0 0px 0;
}

.user-block {
    width: 100px;
    float:right;
    padding-top:-55px;
    }
/*HEADER end*/

/*PROMO begin*/
.promo-main {
    background-color: #eeeeee;
    width: 100%;
}

.promo-slider {
    width: 860px;    
    margin: 0 auto;
    background-color: #eeeeee;
    padding-bottom:55px;
}

.promo-slider .promo-text {
    width: 369px;
    float:left;
}

.promo-slider .promo-img {
    float:right;
    width: 369px;
    height: 231px;
    background-image: url(img/slider1.png);
    background-repeat: no-repeat;
}

.promo-text h1 {
    font-size: 36px;
    margin-bottom:14px;
}

.promo-text p {
    font-size: 16px;
     margin-bottom:30px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size:12px;
    color:white;
    background-color: red;
    padding: 12px 70px;
}
/*PROMO end*/

/*SERVICES begin*/
.services {
    width: 860px;
    margin: 0 auto;
    margin-top:75px;
    margin-bottom: 65px;
}

.services  .service-1,
.services  .service-2,
.services  .service-3 {
    width: 240px;
    float: left;
}

.services  .service-1,
.services  .service-2 {
    margin-right: 60px;
}

.services h2 {
    font-size:18px;
    padding: 20px 0;
    text-transform: uppercase;    
}

.services p {
    font-size:15px;
    padding: 10px 0 25px 0;
      
}

.services .btn {
    padding:12px 40px;
}

.services  .service-2 .btn {
    background-color: #00ca74;
}

.services  .service-3 .btn {
    background-color: #efc84a;
}


.service-2 a.btn:hover {
    background-color: #01a25e ;
    transition: all 0.35s ease;
}

.service-3 a.btn:hover {
    background-color:#d6ae2c;
    transition: all 0.35s ease;

}

.service-2 a.btn:active {
    background-color: #009053 ;

}

.service-3 a.btn:active {
    background-color:#c09b24 ;

}

/*SERVICES end*/

/*ABOUT US begin*/
.about-us {
    margin-bottom:60px;
}

.about-us h2 {
    display: block;
    font-size:16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 35px;
}

.about-us li {
    list-style: none;
}

.about-left h1 {
    margin-bottom: 25px;
    font-size:36px;
}

.about-left {
    width:580px;
    float: left;
}

.about-right {
    width:260px;
    float: left;
}



/*Декоративная серая линия*/
.line {   
    display: inline-block;
    width: 62px;
    height: 2px;
    background-image: url('img/line.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 65px;
}

/*Декоративная красная линия*/
.about-us hr {    
    display: inline-block;
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 25px; 
    margin-bottom:2px;
}

.about-left li,
.about-right li
{
    display: inline-block;
    vertical-align: middle;
    padding:8px;
}

.long-line {
    width:860px;
    height:2px;
    background-image: url('img/line.png');
    background-repeat: repeat-x;
}

.how-we-work-logo {
    float:left;
    width: 240px;
    background-image: url(img/logo-3.png);
    height: 119px;
}

.how-we-work-text h2 {
    width: 240px;
    padding-top: 146px;    
}

/*ABOUT US end*/

/*PARTNERS begin*/

.partners {
    margin:0 auto;
}

.partner1, .partner2, .partner3 {
    width:214px;
    height: 84px;
    float: left;
    margin: 0px 50px 20px 0;
}

.partners a {
    opacity: 0.3;
}

.partners a:hover {
    opacity: 1;
    transition: all 0.35s ease;
}

.partner1 {
    margin-left: 35px;
}

.partner2 {
    margin-top: -10px;
}

.partner3
 {
    margin-top: -20px;
}

/*PARTNERS end*/


/*MAP begin*/

.big-map {
    width: 1200px;
    height: 412px;
    margin:0 auto;
    position: relative;
}

.big-map .map-img {
    background-image: ;
    background-repeat: no-repeat; 
    width: 1200px;
    max-height: 412px;
    margin:0 auto;
}

.big-map .map-logo {
    position:absolute;
    width: 231px;
    height: 190px;
    z-index: 9;
    left: 860px;
    top:90px;
    background-image: url(img/logo-2.png);
    background-repeat: no-repeat; 
}

.big-map .adress {
    position:absolute;
    width: 225px;
    height: 215px;
    background-color: white;
    z-index: 10;
    left: 160px;
    top:80px;
    font-size: 16px;
    padding: 30px 20px 0px 20px;
}

.big-map .adress .btn {
    padding:12px 50px;
    margin-top:30px; 
    margin-left: 15px;
    
}
/*MAP end*/

/*FOOTER begin*/
.social {
    min-height: 70px;
    width: 880px;
    padding: 70px 10px;  
    margin:0 auto;
}

.social .social-icons {
    float: left;
    width: 300px;
}

.social .social-text {
    float: right;
    width: 540px;
    margin-left:40px;
}


.social .social-icons a {
    display: inline-block;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin: 0 10px;    
    vertical-align: top;
    font-size:0;
    background: #d7d4d4 url("img/sprite.png") no-repeat center;    
}

.social-icons a.social-btn-vk {
    background-position: 21px 23px;
}


.social-icons a.social-btn-fb {
    background-position: -27px 23px;
}


.social-icons a.social-btn-inst {
    background-position: -76px 24px;
}


.social .social-icons a:hover {
    opacity: 0.8;   
    background-color: #fb565a ;
    transition: all 0.35s ease;
    }

/*FOOTER end*/

/*CATALOR_PAGE begin*/

.promo-main .welcome {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom:75px;
}

/*CATALOR_filter (left column) begin*/

.catalog .catalog-filter {
    width: 240px;
    height: auto;
    margin-right: 40px;
}

.catalog h2 {
    font-size:18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.catalog-price h2 {
    margin-bottom:5px;
}



.catalog-price .diapazon span {
    margin-top:5px;   
    margin-right:5px;
}

input#rangetree[type=range] {
    -webkit-appearance: none;
    background-color: #00ca74;
    width: 160px;
    height:2px;
    margin:20px 0;
    border:20px solid #f1f1f1;
}

input#rangetree[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

input[type=text] {
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    background: #f1f1f1;
    margin-right: 5px;
    border: 1px solid #e1e1e1;
}

input[type=text]:hover {
    border: 1px solid #a2a9ac;
}

.catalog-price {
    margin-bottom:40px;
}

.form-features ul li,
.form-greed ul li {
    list-style: none;
    padding-top: 10px;
}

.form-greed,
.form-features {
    margin-bottom: 50px;
}


/*checkbox begin*/

input[type="checkbox"],
input[type="radio"] 
{
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:23px;
    height:23px;
    margin:5px 15px 0 0;
    vertical-align:middle;
    background:url(img/chck-unchecked.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(img/chck-checked.png) left top no-repeat;
}

input[type="radio"] + label span {
    display:inline-block;
    width:23px;
    height:23px;
    margin:5px 15px 0 0;
    vertical-align:middle;
    background:url(img/radio-unchecked.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(img/radio-checked.png) left top no-repeat;
}
/*checkbox end*/

.catalog-filter .btn {
    background: #f1f1f1;
    padding: 15px 40px;
    color:black;
    font-weight: bold;
    box-shadow: 1px solid #f1f1f1;
}

.button-catalog .btn {
    background: #f1f1f1;
    padding: 12px 16px;
    margin-right: 5px;
    color:black;
    font-weight: bold;
    box-shadow: 1px solid #f1f1f1;
}

.catalog-filter .btn:hover,
.button-catalog .btn:hover {
    background: #e5e5e5;
}


.catalog-filter .btn:active,
.button-catalog .btn:active {
    background: #d5d5d5;
}



.button-catalog .btn.curr {
    background-color: white;
    border:2px solid #f1f1f1;
    padding: 10px 14px;
    margin-left:280px;
}


.button-catalog .btn.next {
    padding: 12px 30px;
}

/*CATALOR_filter (left column) end*/

/*CATALOR_items (right column) begin*/
.sort {
    width: 580px;
}

.sort li {
    display: inline-block;
    padding: 0 40px 20px 0;
}

.sort li a  {
    font-size: 12px; 
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px dotted #00ca74;
    color:#d5d5d5;
}

.sort li span {
    font-size: 12px; 
    text-transform: uppercase;
    text-decoration: none;
}

.sort li .down {
    margin-right: 0;
    margin-left: 10px;
    border-bottom: none;
}

.sort li .up {  
    margin-left: -40px;
    border-bottom:none;
}

.catalog {
    width: 880px;
    margin-bottom: 80px;
    margin-top:80px;
}

.catalog .catalog-items {
    width: 580px;
    min-height: 
}

.catalog-items,
.catalog {
    overflow: hidden;    
}

.catalog-filter,
.item {
    float:left;
}



/*Карточки в каталоге товаров*/
.item {
    line-height: 1px; /* Межстрочное расстояние - убрать зазор между картинками item-banner и item-img, который создает br*/
    width: 240px;
    height: 270px;
    position:relative; 
    margin-bottom: 80px;
    margin-right: 40px;
   }

.item .item-banner { /* При наведении на item будет меняться item-bnner*/
    opacity: 0.4;
    transition: all 0.35s ease;
}


.item:hover .item-banner { /* При наведении на item будет меняться item-bnner*/
    opacity: 1;
    transition: all 0.35s ease;
}

.item:hover figcaption{
    opacity: 1; /* вместо display:block для плавного появления блока*/
    transition: all 0.35s ease;
}

.item.item-2,
.item.item-4,
.item.item-6 {
    margin-right:-40px;
    margin-left:40px;
    
}

figcaption {    
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    left:20px;
    bottom:20px;
    position:absolute;
    padding: 30px 10px 0 10px;
    opacity: 0; /* вместо display:none для плавного появления блока*/
}

figcaption h2, 
figcaption p {
    font-size: 16px;
    padding: 0 10px;    
    line-height: 1;
}

.btn {
    background-color: #fb565a;
    color:#ffffff;    
}

figcaption a .btn {
    padding: 15px 30px; 
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 700;
}

figcaption a .btn:hover,
.promo-text a.btn:hover,
.service-1 a.btn:hover
{
    background-color: #d6494d;
    transition: all 0.35s ease;
}

figcaption a .btn:active,
.promo-text a.btn:active,
.service-1 a.btn:active
{
    background-color: #b63538;
}

.adress .btn:hover
{
    background-color: #d6494d;
    transition: all 0.35s ease;
}



/*Кнопки переключения страниц каталога (внизу)*/

/*CATALOR_items (right column) end*/

/*CATALOR_PAGE end*/


/*FORM begin*/

.modal-content {  /*окно формы*/
    display: none;
    position: fixed;
    z-index:20;
    top:120px;
    left:50%;   
    width: 470px;
    min-height: 320px;
    margin-left: -330px;
    padding: 50px 80px;    
    color: #000000;    
    background: #ffffff;
    font-size:14px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close { /*крестик закрытия окна формы*/
    position: absolute;
    top:5px;
    right: 5px;    
    width: 40px;
    height: 40px;    
    font-size: 0;    
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #fb696c;
    border-radius: 20px;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top:17px;
    left:7px;    
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content p {
    margin: 0;
    margin-bottom: 10px;    
    margin-top:10px;
}

.email-form input[type="text"]
{
    width: 190px;
    height: 16px;
    margin:0;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 12px;
    font-family: "Roboto", "Arial", sans-serif;
    color:#000000;
    text-transform: uppercase;
    border: 2px solid #d7dcde;
    outline:none;
    background-color: #ffffff;
}

.email-form input:focus,
.email-form textarea:focus
{
    border-color: #eeeeee;
}

.email-form .email {
    float:right;
    margin-top:-37px;
}

.textarea {
    width: 447px;
    max-width: 447px;
    height: 110px;
    max-height: 400px;
    margin:0;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 12px;
    font-family: "Roboto", "Arial", sans-serif;
    color:#000000;
    text-transform: uppercase;
    border: 2px solid #d7dcde;
    outline:none;
    background-color: #ffffff;
    
}

.modal-content .btn {
     width: 472px;

}

.modal-overlay {  /*затемнение фона при всплывании окна*/
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index:10;    
    width: 100%;
    height: 100%;    
    background: rgba(0, 0, 0, 0.7);
}

.modal-overlay-show {
    display: block;
}

.modal-content-show { /*показать окно формы*/
    display: block;

}

/*FORM end*/








